In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/students-performance-in-exams/StudentsPerformance.csv

In [3]:
df=pd.read_csv('/kaggle/input/students-performance-in-exams/StudentsPerformance.csv')

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df['total score'] = df.loc[:,['math score', 'reading score', 'writing score']].sum(axis=1)

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [8]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
print('The highest score in maths is {}'.format(df['math score'].max()))
print('The highest score in reading is {}'.format(df['reading score'].max()))
print('The highest score in writing is {}'.format(df['writing score'].max()))

print('The highest total score is {}'.format(df['total score'].max()))

The highest score in maths is 100
The highest score in reading is 100
The highest score in writing is 100
The highest total score is 300

In [ ]:
print('The average score in maths is {}'.format(np.mean(df['math score'])))
print('The average score in reading is {}'.format(np.mean(df['reading score'])))
print('The average score in writing is {}'.format(np.mean(df['writing score'])))

print('The average score in total is {}'.format(np.mean(df['total score'])))